
h2 {
    font-size: 75px;
    width: 70%  ;
    border:  3px ;
    padding: 5px ;
    margin: auto;

}

#emojiMano {
    width: 65px ;
    height: auto;
}

h1 {
    font-size: 85px ;
    color:blue ;
    width: 70% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

h3 {
    font-size:65px ;
    width: 70% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

h4 {
    font-size:60px;
    width: 70% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

div {
    font-size:60px ;
    width: 70% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

