
h2 {
    font-size: 45px;
    width: 50%  ;
    border:  3px ;
    padding: 5px ;
    margin: auto;

}

#emojiMano {
    width: 23px ;
    height: auto;
}

h1 {
    font-size: 55px ;
    color:blue ;
    width: 50% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

h3 {
    font-size:35px ;
    width: 50% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

h4 {
    font-size:30px;
    width: 50% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

div {
    font-size:30px ;
    width: 50% ;
    border: 3px;
    padding: 5px ;
    margin: auto;
}

